body {
    padding-top: 100px;
    background: #E9EAED;
}

.inner-navigation {
    text-align: center;
    background: #254A69;
    padding: 20px 0;
}

.inner-navigation a {
    color: white;
}

.inner-navigation .nav li:hover, .inner-navigation .nav li a:hover {
    background: #254A69 !important;
}

.inner-navigation .nav li a:hover {
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 14px;
    padding-top: 14px;
}

#chat-window {
    height: 300px;
    overflow: scroll;
}

.fb-download.add {
    opacity: 0.7;
    cursor: pointer;
}

.fb-download.remove {
    opacity: 1;
    cursor: pointer;
}