/* Contact Form variables
========================================================*/
/* Contact Form Basic Styles 
========================================================*/
.landing-form {
  position: relative;
  padding-top: 3px;
}
.landing-form .btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 42px;
  color: #ffffff;
  border-color: #ffffff;
  background: transparent;
}
.landing-form .btn + .btn {
  margin-left: 0px;
}
.landing-form label {
  display: block;
  float: left;
  position: relative;
  display: inline-block;
  width: 170px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 54px;
}
.landing-form label + label {
  margin-left: 30px;
}
.landing-form label.message {
  margin-left: 0;
  width: 100%;
  position: relative;
  top: -1px;
}
.landing-form label.message ._placeholder {
  padding-top: 22px;
}
.landing-form fieldset {
  border: none;
}
/* Contact Form Placeholder Styles 
========================================================*/
.landing-form ._placeholder {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 27px 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: text;
  color: #474b5d;
}
.landing-form ._placeholder.focused {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(237, 44, 53, 0.7);
  box-shadow: 0px 0px 7px 0px rgba(237, 44, 53, 0.7);
}
.landing-form ._placeholder.hidden {
  display: none;
}
.landing-form .file ._placeholder {
  display: none;
}
/* Contact Form Input 
========================================================*/
.landing-form input[type='text'], .landing-form input[type='email'], .landing-form input[type='password'] {
  width: 100%;
  border-radius: 4px;
  line-height: 24px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 27px 3px;
  outline: none;
  color: #474b5d;
  height: 31px;
  border: 1px solid #000;
  border: 1px solid #716b6d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
}
/* Contact Form File Input 
========================================================*/
.landing-form .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.landing-form input.form-control[disabled] {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
.landing-form input.form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  padding: 6px 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.landing-form .input-group-btn:first-child > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin: 0 -1px 0 0;
}
.landing-form .input-group .form-control:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.landing-form .input-group-btn:last-child > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.landing-form .input-group .form-control:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.landing-form input.form-control,
.landing-form .input-group-btn {
  display: table-cell;
  border-collapse: separate;
  float: none !important;
}
.landing-form .input-group-btn label {
  width: auto;
  margin-left: -1px;
}
.landing-form .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
}
.landing-form .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.landing-form .btn-default:hover {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.landing-form .btn-default:active,
.landing-form .btn-default:focus {
  outline-offset: -2px;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* Contact Form Textarea 
========================================================*/
.landing-form textarea {
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 27px 3px;
  padding-top: 22px;
  outline: none;
  border: 1px solid #000;
  border: 1px solid #716b6d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  color: #474b5d;
  height: 221px;
  background-color: #ffffff;
}
/* Contact Form Error messages
========================================================*/
.landing-form .empty-message,
.landing-form .error-message {
  position: absolute;
  right: 3px;
  top: -18px;
  color: red;
  height: 0;
  overflow: hidden;
  font-size: 11px;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  z-index: 99;
}
.landing-form .invalid .error-message,
.landing-form .empty .empty-message {
  height: 20px;
}
/* Contact Form Processing Box
========================================================*/
.landing-form .contact-form-loader {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  background-image: url('../images/form-loader.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
}
.landing-form.processing .contact-form-loader {
  opacity: 1;
  z-index: 99;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* Contact Form Modal 
========================================================*/
.modal-open {
  overflow: hidden;
}
.landing-form .modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #696565;
}
.landing-form .modal h4 {
  font-size: 24px;
  color: #616070;
  text-transform: none;
  padding: 0;
  margin: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
  position: relative;
  z-index: 10;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-dialog {
  width: 600px;
  margin: 10px auto;
}
@media only screen and (max-width: 768px) {
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
}
/* Contact Form Close icon 
========================================================*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
